# PyCity School Analysis

## Analysis Report

In [2]:
# imports
import pandas as pd
from pathlib import Path

## Data File Paths
school_file = Path("Resources/schools_complete.csv")
student_file = Path("Resources/students_complete.csv")

## Read the files into DataFrames
school_df = pd.read_csv(school_file)
student_df = pd.read_csv(student_file)

In [3]:
# Check the school_df has been created without error
school_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
# Check the student_df has been created without error
student_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
# Merge the two df's into one
merged_df = pd.merge(student_df,school_df, how="left", on=["school_name","school_name"])
merged_df.head()
merged_df.to_csv("..\..\..\merged_df.csv", index=False, header=True)

## District Summary

In [6]:
# Total number of unique schools
total_schools = len(merged_df["school_name"].unique())
total_schools

15

In [7]:
# Total students
total_students = len(merged_df["student_name"])
total_students

39170

In [8]:
# Total budget
total_budget = merged_df["budget"].unique().sum()
total_budget

24649428

In [9]:
# Average math score
avg_math = merged_df["math_score"].mean()
avg_math

78.98537145774827

In [10]:
# Average reading score
avg_read = merged_df["reading_score"].mean()
avg_read

81.87784018381414

In [11]:
# % passing math (the percentage of students who passed math)
pass_math_count = merged_df[(merged_df["math_score"] >= 70)].count()["student_name"]
pass_math_perc = (pass_math_count / float(total_students)) * 100 
pass_math_perc

74.9808526933878

In [12]:
# % passing reading (the percentage of students who passed reading)
pass_read_count = merged_df[(merged_df["reading_score"] >= 70)].count()["student_name"]
pass_read_perc = (pass_read_count / float(total_students)) * 100
pass_read_perc

85.80546336482001

In [13]:
# % overall passing (the percentage of students who passed math AND reading)
pass_read_math_count = merged_df[
    (merged_df["math_score"] >= 70) & (merged_df["reading_score"] >= 70 )].count()["student_name"]
overall_pass_rate = (pass_read_math_count / float(total_students)) * 100
overall_pass_rate

65.17232575950983

In [14]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools":[total_schools],
                                 "Total Students":[total_students],
                                 "Total Budget":[total_budget],
                                "Average Math Score":[avg_math],
                                "Average Reading Score":[avg_read],
                                "% Passing Math":[pass_math_perc],
                                "% Passing Reading":[pass_read_perc],
                                "% Overall Passing":[overall_pass_rate]})

# Format the columns
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.2f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:.2f}%".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:.2f}%".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

In [67]:
# Select all of the school types
school_types = school_df.set_index("school_name")["type"]
#https://sparkbyexamples.com/pandas/get-unique-rows-in-pandas/

school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [77]:
# Calculate Student count per school
per_school_counts = merged_df.groupby("school_name").size()
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
dtype: int64

In [78]:
# Calculate Total School Budget and Per Capita spending per school

per_school_budget = merged_df.groupby("school_name")["budget"].mean()
#per_school_budget

per_school_capita = per_school_budget / per_school_counts
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [79]:
# Calculate the average test scores per school

per_school_math = merged_df.groupby("school_name")["math_score"].mean()
per_school_math

per_school_reading = merged_df.groupby("school_name")["reading_score"].mean()
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [80]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = merged_df.loc[merged_df["math_score"] >= 70,:]
students_passing_math

school_students_passing_math = students_passing_math.groupby(["school_name"]).size()
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [81]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = merged_df.loc[merged_df["reading_score"] >= 70,:]
students_passing_reading

school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [82]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = merged_df[
    (merged_df["reading_score"] >= 70) & (merged_df["math_score"] >= 70)
]
students_passing_math_and_reading

school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [83]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [87]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
# Richie - AskBCS LA - #ask-274502 code support

per_school_summary = pd.DataFrame({"School Type":school_types,"Total Students":per_school_counts,
                                  "Total School Budget":per_school_budget,"Per Student Budget":per_school_capita,
                                   "Average Math Score":per_school_math,"Average Reading Score":per_school_reading,
                                   "% Passing Math":per_school_passing_math,"% Passing Reading":per_school_passing_reading,
                                  "% Overall Passing":overall_passing_rate})
per_school_summary

# # Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333